.navbar {
    width: 100%;
    position: fixed;
    background-color: black;
    padding: 0.5% 10%;
    top: 0;
    z-index: 1;

    &__logo {
        color: white;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__hamburguer {
        display: none;

        right: 10%;
    }

    &__menu {
        display: flex;

    }

    &__wrapper ul li {
        color: white;
        list-style: none;
        margin-left: 20px;


    }

    &__wrapper ul li a {
        text-decoration: none;
        color: white;
    }

    &__logo2 {
        display: none;
        cursor: pointer;
    }
}

@media (max-width: 800px) {
    .navbar__logo {
        display: none;
    }

    .navbar__wrapper {
        padding: 15px 0;
    }

    .navbar__logo2 {
        display: flex;
        color: white;
        font-size: 25px;
    }

    .navbar__hamburguer {
        position: absolute;
        display: flex;
        color: white;
        font-size: 25px;
    }

    .navbar__menu {
        display: none;
        padding-top: 10px;
        padding-left: 0x;
    }

    .navbar__wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu.active {
        display: flex;
        align-items: flex-start;

    }

}